// COLORS
// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

$color-white: #fff;
// $color-black: #000;

$color-black: #0F0F0F;
$color-bg: #02050a;
$color-cards: #09101a;
$color-grey: #a2a2a2;
$color-green-light: #55e6a5;
$color-green-dark: #005B41;
$color-green-dark-1: #008170;
$color-dark-bluish: #162740;

@font-face {
    font-family: 'Roboto'; // Give a name to your font
    src: url('../../../fonts/Roboto/Roboto-Medium.ttf') format('truetype'); // Path to your .ttf file
    font-weight: normal;
    font-style: normal;
}
  