// Buttons with <a> tag
.btn, .btn--tech, .btn--contact {
    text-decoration: none;
    font-size: 1.6rem;
}

.btn--tech {
    color: $color-white;
    background-color: $color-green-dark-1;
    padding: 2rem 3.6rem;
    letter-spacing: 0.2rem;
}

.btn--skills {
    --hover-color-letters: #{$color-white};
    --hover-background-color: #{$color-green-light};

    border: 1px solid $color-green-light;

    color: $color-white;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 2rem 4rem;
    width: 20rem;

    transition: 0.4s;

    &:hover {
        background-color: var(--hover-background-color);
        color: var(--hover-color-letters);
    }

    @include respond(tab-land) { // width < 1200?
        margin-bottom: 2rem;
    }
}

.btn--contact {
    color: $color-green-dark-1;
    animation: appearCardText 1s ease-out;
}

.btn--contact--form {
    font-size: 1.6rem;
    font-weight: 600;

    padding: 1.5rem 5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: $color-green-light;
    transition: 0.5s;

    &:hover {
        background-color: $color-green-dark-1;
    }

}