.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-white;
        font-size: 1.4rem;

        background-color: $color-green-dark-1;
        padding: 2rem 3.6rem;
        letter-spacing: 0.2rem;
        transition: 0.5s;

    }

}

.btn-skills {
    border: 1px solid $color-green-light;

    color: $color-white;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 2rem 4rem;
    width: 20rem;

    transition: 0.4s;

    &:hover {
        background-color: $color-green-light;
    }

    @include respond(tab-land) { // width < 1200?
        margin-bottom: 2rem;
    }
}