.card {
    background-color: $color-cards;
    padding: 5rem 5rem;
    border-radius: 1rem;

    &:not(:last-child) {
        margin-right: 2rem;
    }

    @include respond(tab-port) { // width < 900?
        &:not(:last-child) {
            margin-right: 0rem;
            margin-bottom: 2rem;
        }
    }

    &__container {

        display: flex;

        @include respond(tab-port) { // width < 900?
            flex-direction: column;

        }
    }

    & p {
        color: $color-grey;
    }


}