body {
    font-family: 'Lato', serif;
    font-weight: 400;
    line-height: 1.2;
    background-color: $color-bg;
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

.heading-primary {
    font-size: 6rem;
    animation: moveInTop 1s ease-out;
}

.heading-secondary {
    color: $color-white;

    display: flex;
    flex-direction: column;

    font-size: 3.6rem;
    text-transform: uppercase;
    opacity: 0;

    &__subtitle {
        font-size: 2.8rem;
        color: $color-green-light;
        text-transform: uppercase;
    }
}

.heading-tertiary {
    color: $color-white;
    font-size: 3.2rem;
}

.heading-quaternary {
    font-size: 2rem;
    color: $color-white;
    text-transform: uppercase;
}

.heading-fifth {
    font-size: 1.6rem;
    color: $color-white;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
    color: $color-grey;
}