.margin-bottom-xl {margin-bottom: 8rem;}
.margin-bottom-xsmall {margin-bottom: 2rem;}
.margin-top-xsmall {margin-top: 2rem;}
.text-align-center {text-align: center;}

.animation-move-in-bottom {animation: moveInBottom 1s ease-out;}
.display-none {display: none;}
.display-block {display: block;}