.section-about-me, .section-services, .section-skills, .section-portfolio {
    // border: 1px solid white;

    padding: 10rem 15rem;

    @include respond(tab-land) { // width < 1200?
        padding: 10rem 15rem;
    }

    @include respond(tab-port) { // width < 900?
        padding: 8rem 10rem;
    }
    
    @include respond(big-desktop) {
        padding: 10rem 25rem;
    }

    @include respond(phone) { // width < 600?
        padding: 6rem 5rem;
    }
}

.section-about-me {

    &__content {

        display: flex;

        @include respond(tab-port) { // width < 900?
            flex-direction: column;
        }

        &__text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @include respond(tab-port) { // width < 900?
                flex-direction: row;
                width: 100%;
            }

            @include respond(phone) { // width < 600?
                flex-direction: column;
                margin-bottom: 8rem;
            }

            &__container p {
                color: #cbd5e1;
                width: 90%;
            }

            &__img {
                width: 10rem;
                height: 10rem;
            }
        }

        &__image {
            width: 50%;
            // height: 20%;

            @include respond(tab-port) { // width < 900?
                margin: 0rem auto;
            }
        }
    }
}

.section-skills {
    background-color: $color-cards;

    &__content {
        display: flex;
        justify-content: space-around;

        flex-wrap: wrap;

        @include respond(phone) { // width < 900?
            justify-content: space-evenly;
        }

    }
}